<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ZendeskImport" connectionString="Data Source=.;Initial Catalog=Zendesk;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ZendeskUrl" value="XXXXX" />
    <add key="ZendeskUser" value="YYYYY" />
    <add key="ZendeskToken" value="ZZZZZ" />
  </appSettings>
</configuration>